/* make the customizations */
$theme-colors: (
  "primary": rgb(32, 106, 203),
  "secondary": rgb(34, 115, 221)
);

$border-radius: 5px;

$btn-focus-box-shadow: none !important;

/* import bootstrap to set changes */
@import "../../node_modules/bootstrap/scss/bootstrap";
